@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.disabled{
    height: 80px;
    top: 20px;
    position: relative;
    cursor: pointer;
    background: #fff;
       color: #000;
       border: 0em;
       font-family: 'RobotoMono', cursive;
       height: 100%;
       font-size: 2.5em;
       line-height: 120%;
}
.void{
    height: 30px;
    width: 30px;
    grid-area: void;
}

.buttons{
    height: 80px;
    top: 20px;
    position: relative;
    cursor: pointer;
    background: #fff;
       color: #000;
       border: 0em;
       font-family: 'RobotoMono', cursive;
       height: 100%;
       font-size: 2.5em;
       line-height: 120%;
}

.buttons:hover{
    height: 80px;
    background: rgb(190, 190, 190);
       

}

.table_elem{
    height: 100px;
    width: 100px;
}
.table_elem:hover{
    background: rgb(190, 190, 190);
}
.texts{
   
    background: #fff;
       color: #000;
       font-family: 'RobotoMono', cursive;
       font-size: 3em;
       line-height: 120%;

}
        
    body{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        bottom:15%;
        height: auto;;
        font-size:100%;
    }

    @media only screen and (min-width: 1399px) and (max-width: 1780px) {
        body{
            margin-left: auto;
            margin-right: auto;
            font-size: 80%;
        }
    }

    @media only screen and (min-width: 1319px) and (max-width: 1398px) {
        body{
            margin-left: auto;
            margin-right: auto;
            font-size: 76%;
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1318px) {
        body{
            margin-left: auto;
            margin-right: auto;
            font-size: 70%;
        }
    }

    .header-container>p{
        grid-area: head;
        background: #fff;
       color: #000;
       font-family: 'RobotoMono', cursive;
       font-size: 5em;
       line-height: 120%;
    }
    .header-container>img{
        grid-area: logo;
       
       width: 80%;
      /*height: 80%;*/
    }
    .header-container{
        position: relative;
        
        top:10px;
        width: 100%;
       height: 10%;
        grid-area: header_container;
        display: grid; 
        grid-template-columns: 16% 15% 2% 65% 2%;
        grid-template-rows:   100%;
    
        grid-template-areas: 
        ". logo . head ." ;
    }

    .choose-robot>img{
        grid-area: img-robot;
        width: 80%;
        height: auto;
        max-height: 80%;
  }
    .choose-robot>button{
        grid-area: button-robot;

    }

    .choose-robot{
        grid-area: choose_robot;
        
        display: grid; 
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows:   3% 70% 3% 1fr 3%;
    
        grid-template-areas: 
        ". . ."
        ". img-robot ." 
        ". . ." 
        ". button-robot ." 
        ". . ."  ;


    }

    .choose-human>img{
        grid-area: img-human;
        width: 100%;
        
  }
  .choose-human>button{
        grid-area: button-human;

    }

    .choose-human{
        grid-area: choose_human;
        
        display: grid; 
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows:   3% 70% 3% 1fr 3%;
    
        grid-template-areas: 
        ". . ."
        ". img-human ." 
        ". . ." 
        ". button-human ." 
        ". . ."  ;

    }

    #victory_text{
        position: relative;
        grid-area: info-player;
        color: #c00202;
        border: 0em;
        font-family: 'Pacifico', cursive;
        font-size: 3.5em;

    }
    .victoria{
        position: relative;
        grid-area: victorys;
        display: grid;
        grid-template-columns: 40px;
        grid-template-rows:   40% 1fr 40%;
        grid-template-areas: 
        "."
        "info-player" 
        "."  ;

    }
    .choose>p{
        grid-area: choose_text;
    }
    .choose{
        width: 100%;
        grid-area: choose-opponent;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        grid-template-rows: 20% 1fr 2%;
        justify-content: center;
        grid-template-areas: 
        ". choose_text ."
        "choose_robot victorys choose_human" 
        ". . .";

    }
    .canvas>table{
        grid-area: tables;
        padding-left: 15%;
        width: 100%;
        height: 100%;
        background: url(../img/canvas.jpg)  no-repeat center center; 
        background-size: cover;
        background-position: center center;
        text-align: center;
        
        
    }
    .canvas{
        grid-area: canvas_tabel;
        padding-left: 10%;
        width: 80%;
        height: 95%;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows:   5% 90% 5%;
        justify-content: center;
        grid-template-areas: 
        ". . ."
        ". tables ." 
        ". . ."  ;

    }

    .undo{
        grid-area: undo_button;
        cursor: pointer;
    background: #fff;
       color: #000;
       border: 0em;
       font-family: 'RobotoMono', cursive;
       
       font-size: 2.5em;
       line-height: 120%;
    }

    .undo:hover{
        background: rgb(177, 253, 247);
    }

    .end-game>.texts{
        grid-area: counter;

    }
    .end-game>.buttons{
        height: 35px;
        grid-area: start-new;
    }
    .end-game{
        
        grid-area: end;
        display: grid;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
        grid-template-rows:   1% 1fr 5% 3fr 10px;
        justify-content: center;
        grid-template-areas: 
        ". . . . ." 
        ". counter counter  undo_button ."
        ". . . . ."
        ". . start-new . ."
        ". . . . ." ;


    }
 
    .main-container{
        position: relative;
        top:1%;
        left: 15%;
        right:15%;
        height: 90%;
        width: 70%;
        grid-area: main_contain;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2% 1fr 2% 1.2fr 6% 100px;

        grid-template-areas: 
        ". . ."
        "choose-opponent choose-opponent choose-opponent"
        ". . ."
        "canvas_tabel canvas_tabel canvas_tabel"
        "end end end"
        ". . ." ;

    }


  






    /*Tablet or small screen*/
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    

        }







        /*for very small screen*/
        @media only screen and (min-width: 320px) and (max-width: 767px) {
        
   
                    
                }
            
            
        
               